*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.app {
  text-align: center;
  background-color: rgb(240,250,251);
  min-height: 100vh;
}

.section-search{
  background-image: url('../images/bg-header-desktop.svg');
  background-color: #40b4b4;
  padding: 40px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-title{
  color: #fff;
  font-size: 2rem;
}

.section-tags{
  /* display: flex;
  justify-content: space-between; */
  display:grid;
  grid-template-columns: 5fr 1fr;
  padding: 10px;
  width: 800px;
  /* border: 1px solid #000; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #fff;
}

.selectedTags{
  display: flex;
  gap: 5px;
}

.jobItems__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  min-width: 500px;
  padding: 40px 0;
  gap: 10px;

}

.jobItem{
  display: grid;
  grid-template-columns: 1fr 6fr 4fr;
  column-gap: 10px;;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 20px 10px;
  width: 800px;
  background-color: #fff;
}

.jobItem__logo{
  width:100%;
  height: 100%;
  border-radius: 50%;
  margin: auto;
}

.jobItem__logo img{
  width: 100%;
  border-radius: 50%;
}

.jobItem__info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.jobItem__name{
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.jobItem__new{
  background-color: rgb(94,163,164);
  color: #fff;
  padding: 3px;
  border-radius: 10px;
}

.jobItem__featured{
  background-color: #000;
  color: #fff;
  padding: 3px;
  border-radius: 10px;
}

.jobItem__position{
  text-align: left;
  cursor: pointer;
  font-size: 1.2rem;
}
.jobItem__position:hover{
  color: rgb(94,163,164);
}

.jobItem__spans{
  display: flex;
  gap: 5px;
}
.jobItem__spans span{
  font-size: 0.8rem;
  color: rgb(138, 137, 137)
}
.jobItem__tags{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /* padding-left: 50px; */
}
.wrapper-tag{
  display: flex;
  align-items: center;
}
.tag{
  background-color: rgb(240,250,251);
  padding: 3px;
  /* display: block; */
  border-radius: 2.5px;
  cursor: pointer;
  color: rgb(94,163,164);
  font-weight: 600;
}

.tag:hover{
  background-color: rgb(94,163,164);
  color: #fff;
}

.tag-search:hover{
  background-color: rgb(240,250,251);
  color: rgb(94,163,164);
  cursor: default;
}

.close-tag{
  background-color:rgb(94,163,164);
  height: 100%;
  padding:3px 3px 0 3px;
  color: #fff;
}
.close-tag:hover{
  background-color: #000;
}

.close-tag i{
  cursor: pointer;
  
}

.clear{
  cursor: pointer;
}
.clear:hover{
  color: rgb(94,163,164);
  text-decoration: underline;
}

.heart{
  font-size: 1.5rem;
  color: rgb(170, 3, 3)
}
